@charset "UTF-8";

/*---------------↓-----------------*/

.container {
	width:95%;
	/* background:#ddd; */
	margin:0 auto;
	padding:20px 0px;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
}

.product {
	display:block;
	width:500px;
	height:160px;
	background:white;
	border-radius:8px;
	margin:0 auto;
	margin-top:20px;
	padding:20px;
	text-decoration:none;
}



/*---------------↓画像領域-----------------*/

.image-area {
	width:30%;
	background:white;
	display:flex;
	justify-content:center;
}

.product-image {
	width:200px;
	height:200px;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:20px;
}


/*---------------↓商品説明-----------------*/

.about-area {
	width:45%;
	background:white;
	box-sizing:border-box;
	padding:20px 20px;
}

.about-category {
	font-size:14px;
}

.about-price {
	margin-bottom:10px;
	font-size:18px;
}

/*---------------↓カート-----------------*/

.cart-area {
	width:25%;
	min-height:300px;
	background:white;
	border-radius:8px;
	padding:30px 25px;
	box-sizing:border-box;
	border:1px solid gray;
}

.cart-price {
	font-size:24px;
	margin-bottom:10px;
	margin-top:10px;
}

.cart-stock {
	font-size:18px;
	margin-bottom:15px;
}

.cart-input {
	width:40px;
	height:25px;
	outline:none;
	box-sizing:border-box;
	margin:0;
	padding:0;
	margin-bottom:15px;
}

.cart-submit {
	width:100%;
	display:block;
	height:40px;
	background:#fc9e03;
	outline:none;
	border:none;
	border-radius:8px;
	color:white;
	font-weight:bold;
}


/*---------------↓スライド-----------------*/

.slide-category {
	width:95%;
	background:white;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
	box-sizing:border-box;
	border-radius:8px;
	border:1px solid gray;
}

.slider {
	width:95%;
	margin:0 auto;
	margin-top:5px;
}

.slide-content {
	width:100px;
	margin:10px;
	text-align:center;
}

.slide-content img {
	width:100px;
	margin:0 auto;
	padding-top:5px;
}

.item {
	height:40px;
	margin-top:5px;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}